%%-*- mode: erlang -*-

%% Erlang compiler options
{erl_opts, [
    debug_info,
   %% warnings_as_errors, 
   %%  warn_export_all,
    {i, "src/proto"},
    {i, "include"},
    {d, 'DEBUG'},
    {d, 'TEST'}
]}.

{plugins, [protobuffs_generator]}.

{deps, [
    {protobuffs, ".*",{git, "https://github.com/basho/erlang_protobuffs.git", "master"}},
    {mustache, ".*",{git, "https://github.com/mojombo/mustache.erl.git", "master"}},
    {ranch, ".*",{git, "https://github.com/ninenines/ranch.git", "master"}}
]}.

